extends layout

mixin single
  h2 Search translation for a word
  form(action="/", method="get")
    fieldset.form-group
      .row
        .col-md-6
          input(type="text", name="q", placeholder="Search a word", value="#{query}").form-control
        .col-md-3
          input(type="text", name="lang", placeholder="from language", value="#{lang}").form-control
        .col-md-3
          input(type="text", name="to", placeholder="to language", value="#{to}").form-control
      .row
        .col-md-6
          input(type="submit", value="Translate").btn.btn-info

mixin multi
  h2 Import a classifier for translation
  form(action="/", method="post", enctype="multipart/form-data")
    fieldset.form-group
      .row
        .col-md-6
          input(type="file", name="file").form-control-file
        .col-md-3
          input(type="text", name="lang", placeholder="from language", value="#{lang}").form-control
        .col-md-3
          input(type="text", name="to", placeholder="to language", value="#{to}").form-control
      .row
        .col-md-6
          input(type="submit", value="Translate").btn.btn-info

block content
  h1 Health On the Net - Wikipedia translator
  h2 Search translation
  .row
    form.col-md-4.form-inline
      .form-group
        input.form-control(type="text", id="translate", placeholder="horse")
        select(id="lang", data-live-search="true").selectpicker.form-control
          option DE
          option(selected="selected") EN
          option ES
          option FR
          option PO
  .row
    if result
      +single
      pre #{result}
      a.btn.btn-primary(href="/") Main Page
    else if resultF
      +multi
      pre #{resultF}
      a.btn.btn-primary(href="/") Main Page
    else
      +single
      +multi
    
